.navbar {
    background-color: #e3f2fd;
}

.section-N1-tickets {
    background-color: rgb(239,239,239);
}

.Iner-Section-N1-tickets {
    background-color: rgb(247,247,247);
    border-color: rgb(40,42,53);
    border-style: solid;
    border-radius: 5px;
}



